<div>
    <div class="image-container">
        <img src=<%= loggedIn.profilePic %> alt="Profile Picture for logged in user">
    </div>
    <div>
        <p> <%= loggedIn.email %>     </p>
        <textarea name="post" id="post" cols="30" rows="2"></textarea>
        <button>Post</button>
    </div>
</div>