<ul>
    <li><a href="/">Home</a></li>
    <!-- If user loggedIn -->
    <% if (loggedIn){ %>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
    <% }else { %>
    <!-- If user not loggedIn -->
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <% } %>
  </ul>