<%- include("partials/header.ejs") %>
<!-- Login form for user login -->

<form method="POST" class="login_form">
  <h2>Login Page</h2>
  <input
    type="email"
    class="input"
    name="email"
    placeholder="Type in email"
    required
  />
  <div class="line-box"><div class="line"></div></div>
  <input
    type="password"
    class="input"
    name="password"
    placeholder="Type in password"
    required
  />
  <div class="line-box"><div class="line"></div></div>
  <button class="button" type="submit">Sign in</button>
  <br />
  <p class="registration-link"><a href="/register">Create an account here!</a></p>
</form>
<%- include("partials/footer.ejs") %>