* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.login_form {
  width: 30%;
  margin: 150px auto;
  padding: 60px 120px 80px 120px;
  text-align: center;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.1);
}

.login_form p a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.registration-link {
  margin-top: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: left;
  color: #000000;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #81b8ec;
}

.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #bcbcbc;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #ddd;
  transition: ease 0.6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.button {
  margin-top: 15px;
  border: none;
  background-color: #965d08;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.post-container {
  display: flex;
  border-bottom: 5px solid rgb(230, 236, 240);
  border-top: 5px solid rgb(230, 236, 240);
  flex-shrink: 0;
}

.image-container {
  width: 100px;
  height: 100px;
}

.image-container img {
  width: 100%;
  border-radius: 50%;
}

.textarea-container {
  flex: 1;
}

.textarea-container textarea {
  width: 100%;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.post-button {
  border: none;
  float: right;
  background-color: #965d08;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
}
.page-header {
  text-align: center;
  color: #525252;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* === Basic Styling for profile & index page to show posts in a grid format === */
.all-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px auto;
  width: 1000px;
  grid-gap: 30px;
}
.all-posts article {
  background-color: #fff;
  border-radius: 8px ;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 12px 12px 2px 1px;
}
.all-posts h2 {
  color: #000000;
}
.all-posts h3 {
  margin: 12px 0;
}
.post_image_container {
  text-align: center;
}
.all-posts img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;
}
.all-posts span {
  font-weight: 500;
}
/* === Basic Styling for profile  page form section === */
.update_form {
  width: 600px;
  margin: 30px auto;
}
.update_form div {
  margin: 20px 0;
}
.update_form input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border-color: #525252;
  margin-top: 8px;
}
.update_form button {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 8px;
  background-color: #81b8ec;
  color: white;
}
.post-button {
  width: 100px;
  padding: 5px;
  margin: 5px 0;
  border-radius: 8px;
  background-color: #81b8ec;
  color: white;
}